.ElementListComponent{
  width: 30%;
  color: rgb(0, 0, 0);
  padding: 15px;
  font-size: 20px;
  border-bottom-style: outset;
  border-bottom-color: cadetblue;
  border-bottom-width: 1px;
}


.ElementListComponent-name{
  width: 20%;
}

.ElementListComponent-description{
  width: 70%;
  padding-left: 20px;
  
}